{
  "extends": [
    "airbnb-typescript/base",
    "prettier"
  ],
  "root": true,
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "parserOptions": {
    "project": [
      "./tsconfig.client.json",
      "./tsconfig.server.json"
    ]
  },
  "env": {
    "node": true
  },
  "plugins": ["import"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-use-before-define": ["error", { "variables": false }],
    "@typescript-eslint/no-floating-promises": ["error"],
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": ["default"],
        "format": ["camelCase", "PascalCase", "UPPER_CASE"],
        "leadingUnderscore": "allow"
      }
    ],
    "import/no-extraneous-dependencies": ["off"],
    "space-before-blocks": ["error"],
    "arrow-body-style": ["off"],
    "import/prefer-default-export": ["off"],
    "newline-per-chained-call": ["off"],
    "consistent-return": ["off"],
    "no-nested-ternary": ["off"],
    "no-restricted-syntax": ["off"],
    "no-console": ["off"]
  }
}
